.categories-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 64px;
}

.categories-cards .card {
    width: 314px;
    height: 220px;
    background-color: var(--background-segundary-color);
    text-align: center;
    border-radius: 16px;
    padding: 24px;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-primary-color);
}