@font-face {
  font-family: "Montserrat";
  src: url(../fontes/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}
:root {
  --background-primary-color: #ffffff;
  --background-segundary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --primary-color: #8f0101;
  --secundary-color: #b81515;

  --text-primary-color: #222222;
  --text-secundary-color: #ffffff;

  --titles-weight: 700;
  --text-weight: 400px;
  --menu-text-weight: 500;
}

/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  font-family: "Montserrat";
  font-weight: var(--titles-weight);
  color: var(--primary-color);
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
  background-color: var(--background-primary-color);
}

section {
  width: 312px;
  margin: 0 auto 88px;
}

section.hero,
section.bottom-hero {
  width: 100%;
  margin: 0;
}

.section-title {
  width: 280px;
  margin: 0 auto 32px;
}

.section-title h2 {
  font-size: 28px;
  font-weight: var(--titles-weight);
  margin: 0;
  text-align: center;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secundary-color);
  border: none;
  margin: 16px auto 32px;
}

.content-title {
  font-size: 28px;
  font-weight: var(--titles-weight);
  margin: 0 0 24px;
}
.content-text {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
}

.buttom {
  width: 280px;
  height: 64px;
  color: var(--text-secundary-color);
  font-weight: var(--titles-weight);
  font-size: 20px;
  background-color: var(--secundary-color);
  border-radius: 8px;
  display: inline-block;
  text-decoration: none;
  line-height: 64px;
}

@media screen and (min-width: 768px) {
  section {
    width: 648px;
  }
  .section-title {
    width: 100%;
    margin: 0 auto 32px;
  }
  .section-title h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
 section {
    width: 900px;
  }
  .button:hover {
    background-color: var(--primary-color);
  }
}

@media screen and (min-width: 1440px) {
  section {
    width: 1200px;
  }
}
