@font-face {
  font-family: "Montserrat";
  src: url(../fontes/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}
:root {
  --background-primary-color: #ffffff;
  --background-segundary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --primary-color: #8f0101;
  --secundary-color: #b81515;

  --text-primary-color: #222222;
  --text-secundary-color: #ffffff;

  --titles-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  font-family: "Montserrat";
  font-weight: var(--primary-color);
}

body{
    font-family: "Montserrat";
}