.payments .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  width: 100%;
}

.payments .content-container .image-gallery .image.first {
  background: url(../img/gallery1-mobile.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.second {
  background: url(../img/gallery2-mobile.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.thirtdy {
  background: url(../img/gallery3-mobile.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.colspan-2 {
  grid-column: span 2;
}

/*PACOTE DE VIAGENS*/
.travel-packages.payments .section-title h2 {
  font-size: 32px;
}

.travel-packages.payments .content-container .text-content h3 {
  font-size: 40px;
}

.travel-packages.payments .content-container .text-content h4 {
  font-size: 28px;
}

.travel-packages.payments .content-container .image-gallery .image.first {
  background: url(../img/travel-packages/gallery1-mobile.png);
  background-size: cover;
}

.travel-packages.payments .content-container .image-gallery .image.second {
  background: url(../img/travel-packages/gallery2-mobile.png);
  background-size: cover;
}

.travel-packages.payments .content-container .image-gallery .image.colspan-2 {
  background: url(../img/travel-packages/gallery3-mobile.png);
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .payments .content-container .image-gallery .image.first {
    background: url(../img/gallery1-tablet.png) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.second {
    background: url(../img/gallery2-tablet.png) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.thirtdy {
    background: url(../img/gallery3-tablet.png) no-repeat;
    background-size: cover;
  }

  /*PACOTE DE VIAGENS*/
  .travel-packages.payments .content-container .image-gallery .image.first {
    background: url(../img/travel-packages/gallery1-tablet.png);
    background-size: cover;
  }

  .travel-packages.payments .content-container .image-gallery .image.second {
    background: url(../img/travel-packages/gallery2-tablet.png);
    background-size: cover;
  }

  .travel-packages.payments .content-container .image-gallery .image.colspan-2 {
    background: url(../img/travel-packages/gallery3-tablet.png);
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .payments .content-container {
    display: flex;
    justify-content: space-between;
  }

  .payments .content-container .text-content {
    width: 360px;
  }

  .payments .content-container .image-gallery {
    width: 790px;
    margin: 0px;
  }

  /*PACOTE DE VIAGENS*/
  .travel-packages.payments .content-container {
    display: flex;
    justify-content: space-between;
  }

  .travel-packages.payments .content-container .text-content {
    width: 360px;
  }

  .travel-packages.payments .content-container .image-gallery {
    width: 790px;
    margin: 0px;
  }

  .travel-packages.payments .content-container .image-gallery .image.first {
    background: url(../img/travel-packages/gallery1-desk.png);
    background-size: cover;
  }

  .travel-packages.payments .content-container .image-gallery .image.second {
    background: url(../img/travel-packages/gallery2-desk.png);
    background-size: cover;
  }


}
